#scroll::-webkit-scrollbar{
  width: 5px;
}

#scroll::-webkit-scrollbar-thumb{
  background: rgb(20, 20, 20);
  border-radius: 8px;
}

#scroll::-webkit-scrollbar-track{
  background: transparent;
}


@media (max-width: 1280px) {
  #scroll::-webkit-scrollbar-thumb{
    background: #000416;
    border-radius: 8px;
  }
  
  #scroll::-webkit-scrollbar-track{
    background: #000105;
  }
}