.swiper {
  max-width: 600px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.swiper-wraper {
  width: 100%;
  height: 100px;
}

.swiper-slide{
  width: 300px;
  height: 130px;
  overflow: hidden;
}

.swiper-slide-active #episode{
  transform: translateY(0);
}

.swiper-slide-active #episodeImg{
  filter: grayscale(40);
}

.swiper-pagination-bullet-active {
  width: 15px;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.swiper-button-disabled {
  display: none;
}


.swiper {
  --swiper-pagination-color: rgba(255,200,0);
  --swiper-pagination-bullet-inactive-color: white;
}


@media (max-width: 1280px){
  .swiper {
    justify-content: end;
  }
}


@media ((min-width:350px) and (max-width: 680px)){
  .swiper {
    max-width: 100vw;
  }
}

/*Elimina la paginación*/
.swiper-pagination { 
  display: none;
}

