---
import { Link } from '@heroui/link'
import IconGitHub from '@/icons/icon-github.astro'
import IconInstagram from '@/icons/icon-instagram.astro'
import IconLinkedin from '@/icons/icon-linkedin.astro'
import Button from '@/components/shared/button'
---

<div class="flex flex-col items-center justify-between gap-3 border-t border-zinc-900 px-3 py-4 sm:flex-row">
  <div class="max-w-lg">
    <p class="text-foreground-600 text-tiny text-center font-light">
      Este sitio web utiliza
      <a
        href="https://www.themoviedb.org"
        class="bg-gradient-to-r from-[#90cea1] to-[#01b4e4] bg-clip-text font-medium text-transparent">TMDB</a
      >
      y las API de
      <a
        href="https://www.themoviedb.org"
        class="bg-gradient-to-r from-[#90cea1] to-[#01b4e4] bg-clip-text font-medium text-transparent">TMDB</a
      >, pero no está avalado, certificado ni aprobado de ningún otro modo por
      <a
        href="https://www.themoviedb.org"
        class="bg-gradient-to-r from-[#90cea1] to-[#01b4e4] bg-clip-text font-medium text-transparent">TMDB</a
      >.
    </p>
  </div>
  <div class="flex items-center justify-center gap-3">
    <Button
      isIconOnly
      variant="ghost"
      radius="sm"
      as={Link}
      href="https://github.com/Crisops"
      target="_blank"
      rel="noopener noreferrer"
      className="h-7 w-7 min-w-7 border-0"
    >
      <IconGitHub class="size-5" />
    </Button>
    <Button
      isIconOnly
      variant="ghost"
      radius="sm"
      as={Link}
      href="https://instagram.com/cris.alejo13"
      target="_blank"
      rel="noopener noreferrer"
      className="h-7 w-7 min-w-7 border-0"
    >
      <IconInstagram class="size-5" />
    </Button>
    <Button
      isIconOnly
      variant="ghost"
      as={Link}
      href="https://www.linkedin.com/in/cristian-perez-5b306a239"
      target="_blank"
      rel="noopener noreferrer"
      className="h-7 w-7 min-w-7 border-0"
    >
      <IconLinkedin class="size-5" />
    </Button>
  </div>
</div>
