---
import { Link } from '@heroui/link'
import IconTMDB from '@/icons/icon-tmdb.astro'
import CreditsAndSocialFooter from '@/components/astro/credits-and-social-footer.astro'
import WelcomeSearchFooter from '@/components/react/welcome-search-footer'
import Button from '@/components/shared/button'
---

<footer class="relative h-full w-full">
  <div class="flex h-full flex-col">
    <div
      class="grid flex-grow grid-cols-1 place-items-center gap-10 px-5 py-10 sm:max-xl:grid-cols-2 md:px-10 xl:grid-cols-4"
    >
      <div class="flex flex-col items-center justify-center gap-2">
        <span class="sm:text-small text-xs text-gray-500 uppercase">Proveedor de los datos</span>
        <IconTMDB />
      </div>
      <WelcomeSearchFooter client:visible />
      <div
        class="col-span-1 flex max-w-md flex-col items-center justify-center sm:col-span-2 lg:max-w-lg lg:items-start"
      >
        <div class="flex flex-col gap-2">
          <span class="text-lg font-bold text-white lg:self-start">¿Quíen soy yo?</span>
          <div class="mb-8 flex max-w-md flex-col gap-2 lg:max-w-lg">
            <p class="text-tiny text-zinc-500">
              Puedes mirar mis proyectos creados en el siguiente enlace: <a
                class="hover:underline"
                href="https://github.com/Crisops"
                target="_blank"
                rel="noopener noreferrer">https://github.com/Crisops</a
              > o darle click en el siguiente botón
            </p>
            <Button
              variant="solid"
              radius="sm"
              as={Link}
              href="https://github.com/Crisops"
              className="flex-grow bg-white py-2 text-sm text-zinc-950 transition-colors hover:!bg-white/50"
              rel="noopener noreferrer"
              target="_blank"
            >
              Mirar perfil
            </Button>
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-bold text-white lg:self-start">Contacto</span>
            <p class="text-tiny max-w-sm text-zinc-500">
              Me puedes encontrar en la red social de Instagram como cris.alejo13 o en Linkedin como Cristian Pérez
            </p>
          </div>
        </div>
      </div>
    </div>
    <CreditsAndSocialFooter />
  </div>
</footer>
