---
  import type { MovieWithGenders } from "@/types/Genders"

  interface Props {
    genders: MovieWithGenders
    index: number 
  }

  const {index, genders} = Astro.props

---

<div class="flex flex-wrap max-w-[200px] justify-end gap-1 pb-1 transition-opacity duration-300 opacity-0 group-hover:opacity-100">
  {genders[index].map(el => 
    (
      <span class:list={[
        "py-1 px-2 text-white font-medium font-Libre_Franklin text-xs rounded-lg",
        {
          "bg-gradient-to-r from-violet-950 to-fuchsia-950": el.name === "Animación",
          "bg-gradient-to-r from-sky-500 to-indigo-500": el.name === "Música",
          "bg-gradient-to-r from-purple-500 to-pink-500": el.name === "Familia",
          "bg-gradient-to-r from-rose-700 to-pink-600": el.name === "Fantasía",
          "bg-gradient-to-r from-green-500 to-green-700": el.name === "Comedia",
          "bg-gradient-to-r from-emerald-500 to-emerald-900": el.name === "Ciencia ficción",
          "bg-gradient-to-r from-cyan-500 to-blue-500": el.name === "Acción",
          "bg-gradient-to-r from-stone-500 to-stone-700": el.name === "Suspense",
          "bg-gradient-to-r from-gray-700 via-gray-900 to-black": el.name === "Terror",
          "bg-gradient-to-r from-[#240304] to-[#BB0F14]": el.name === "Misterio",
          "bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900": el.name === "Drama",
          "bg-gradient-to-l from-[#283048] to-[#859398]": el.name === "Historia",
          "bg-gradient-to-r from-emerald-500 to-lime-600": el.name === "Bélica",
          "bg-gradient-to-r from-red-500 to-red-800": el.name === "Crimen",
          "bg-gradient-to-r from-blue-700 via-blue-800 to-gray-900": el.name === "Aventura",
          "bg-gradient-to-r from-fuchsia-600 to-pink-600": el.name === "Romance",
          "bg-gradient-to-r from-[#780206] to-[#780206]": el.name === "Action & Adventure",
          "bg-gradient-to-r from-[#6A9113] to-[#141517]": el.name === "Sci-Fi & Fantasy",
          "bg-gradient-to-r from-[#00B4DB] to-[#0083B0]": el.name === "Reality",
          "bg-gradient-to-r from-[#010979] to-[#5FB8E0]": el.name === "Documental",
          "bg-gradient-to-r from-[#CF0074] to-[#6F2C6B]": el.name === "Película de TV",
          "bg-gradient-to-r from-[#2C3E4E] to-[#456783]": el.name === "War & Politics",
        }
      ]}>{el.name}</span>
    ))}
</div>