---
  import IconGitHub from '@/icons/IconGitHub.astro';
  import IconSearch from '@/icons/IconSearch.astro';
---


<div class="relative">
  <span id="text-title" class="text-white text-4xl 2xl:text-5xl font-bold font-Ubuntu">Cripop</span>
</div>
<div class="relative flex justify-evenly items-center gap-8 [&>div>a]:font-Noto_Sans">
  <div class="flex items-center justify-evenly">
    <IconSearch/>
    <a href="#" id="text-github" class="py-3 px-2 text-white text-base 2xl:text-lg">Buscar</a>
  </div>
  <div class="flex items-center justify-evenly">
    <IconGitHub/>
    <a href="#" id="text-exitDoor" class="py-3 px-2 text-white text-base 2xl:text-lg">GitHub</a>
  </div>
</div>
