---
import IconSearch from "@/icons/IconSearch.astro";
import { Image } from "astro:assets";
import movie from '../../img/movie1.jpg'

---

<div class="flex flex-col gap-4 mt-16">
  <div class="inline-flex gap-2 py-2">
    <span class="text-zinc-400 font-Noto_Sans text-md px-1 py-1"><IconSearch/></span>
    <a href="#" class="font-Libre_Franklin text-white font-bold text-2xl hover:underline">Busca tus series favoritas</a>
  </div>
  <div class="relative flex gap-1 overflow-hidden">
    <div class="relative w-[500px] h-[500px] flex-1 transition-all duration-1000 ease-in-out hover:flex-grow-[2]">
      <Image class={"absolute w-full h-full object-cover"} src={movie} alt={"asasa"}/>
    </div>
    <div class="relative w-[500px] h-[500px] flex-1 transition-all duration-1000 ease-in-out hover:flex-grow-[2]">
      <Image class={"absolute w-full h-full object-cover"} src={movie} alt={"asasa"}/>
    </div>
    <div class="relative w-[500px] h-[500px] flex-1 transition-all duration-1000 ease-in-out hover:flex-grow-[2]">
      <Image class={"absolute w-full h-full object-cover"} src={movie} alt={"asasa"}/>
    </div>
  </div>
</div>
