---
import Filters from "../react/Filters";
import SearchMovie from "../react/SearchMovie";

---



<div class="relative flex flex-col gap-10 pt-5">
  <header class="flex justify-between items-center py-5 px-10 gap-10">
    <SearchMovie/>
    <Filters/>
  </header>
</div>