---
import type { FormSearch } from '@/utils/validate-rules-form'
import type { Videos } from '@/types/videos'
import ButtonEpisodes from '@/components/react/button-episodes'
import ButtonTrailer from '@/components/react/button-trailer'
import ButtonViewSeasons from '@/components/react/button-seasons'

interface Props {
  type: FormSearch['type']
  isSeason?: boolean
  videoTrailer: Videos['results'][number] | null
}

const { type, isSeason, videoTrailer } = Astro.props
---

<div class="flex flex-wrap items-center justify-start gap-2">
  <ButtonTrailer
    client:visible
    id={videoTrailer?.key}
    title={videoTrailer?.name}
    className="shadow-2xs max-xl:w-full max-xl:border-white max-xl:bg-white max-xl:text-black"
  />
  {
    type === 'tv' && !isSeason && (
      <ButtonViewSeasons
        client:visible
        className="shadow-2xs max-xl:w-full max-xl:border-zinc-700 max-xl:bg-transparent max-xl:text-white"
      />
    )
  }
  {
    type === 'tv' && isSeason && (
      <ButtonEpisodes
        client:visible
        className="shadow-2xs max-xl:w-full max-xl:border-zinc-700 max-xl:bg-transparent max-xl:text-white"
      />
    )
  }
</div>
