---
  import HeroTvSeries from "./HeroTvSeries.astro"
  import MoviesBestRate from "./MoviesBestRate.astro"
  import MoviesCartelera from "./MoviesCartelera.astro"
  import MoviesPopular from "./MoviesPopular.astro"
  import TvSeriesBestRate from "./TvSeriesBestRate.astro"
  import TvSeriesPopular from "./TvSeriesPopular.astro"

---

<div class="relative h-full flex flex-col gap-20 px-10">
  <MoviesCartelera/>
  <MoviesPopular/>
  <MoviesBestRate/>
  <HeroTvSeries/>
  <TvSeriesBestRate/>
  <TvSeriesPopular/>
</div>