---
import DrawNotFoundSearch from "@/icons/DrawNotFoundSearch.astro";

---




<div class="w-full max-w-lg h-full flex flex-col justify-center items-center gap-2">
  <span class="text-gray-200/30 font-Noto_Sans text-sm self-start sm:self-center">Lo sentimos, no se encontró un resultado para tu búsqueda</span>
  <DrawNotFoundSearch/>
  <a href="/" class="border w-80 border-zinc-500 px-3 py-3 text-center font-Noto_Sans text-white font-medium text-sm transition-colors duration-300 hover:bg-white hover:text-black">Volver</a>
</div>