---
  import ResultSearch from './ResultSearch.astro';
  import Footer from "@/components/astro/Footer.astro";

  interface Props {
    url: string
    title: string | null
    choose: string | null
  }

  const{ url, title, choose } = Astro.props

---

<main class="relative w-full overflow-hidden pt-40">
  <div class="relative px-5 md:px-10 flex items-start flex-col xl:flex-row justify-between">
    <h1 class="text-white font-Noto_Sans text-xl sm:text-2xl text-left font-extralight">
      Resultados de tu busqueda: <span class="text-white font-Noto_Sans text-xl sm:text-2xl text-center sm:text-left lg:max-xl:text-center xl:text-left font-bold">{title}</span></h1>
    <!-- <div class="flex flex-wrap items-center pt-10 gap-10 justify-start lg:max-xl:justify-center xl:justify-start px-10 xl:pt-0">
      <Filters/>
    </div> -->
  </div>
  <ResultSearch choose={choose} url={url} />
  <Footer/>
</main>




