---
  import ResultSearch from './ResultSearch.astro';

  interface Props {
    url: string
    title: string
    choose: string | null
  }

  const{ url, title, choose } = Astro.props

---

<main class="relative w-full overflow-hidden pt-40">
  <div class="relative px-10 flex items-center flex-col xl:flex-row justify-between">
    <h1 class="text-white font-Libre_Franklin text-3xl text-center sm:text-left lg:max-xl:text-center xl:text-left md font-bold">{title}</h1>
    <div class="flex flex-wrap items-center pt-10 gap-10 justify-start lg:max-xl:justify-center xl:justify-start px-10 xl:pt-0">
      <!-- <Filters/> -->
    </div>
  </div>
  <ResultSearch choose={choose} url={url} />
</main>




