---
import Sprite from '@/assets/sprite.svg'
import Layout from '@/layouts/Layout.astro'
import Button from '@/components/shared/button'
import { Link } from '@heroui/link'
---

<Layout
  title="Página no encontrada - Cripop"
  description="Cripop es un espacio donde puedes ver lo que te gusta de una manera rápida, sencilla y eficaz."
  og={{
    url: Astro.url.pathname,
    image: '/images/og/not-found.jpg',
  }}
>
  <section class="relative flex h-[calc(100vh_-_4rem)] w-full overflow-hidden px-3">
    <div class="grid w-full grid-cols-1 grid-rows-2 place-items-center xl:grid-cols-2 xl:grid-rows-1">
      <div class="relative z-20 flex h-full w-full flex-col items-center justify-center space-y-5">
        <h1
          class="text-center text-2xl font-semibold text-balance text-white uppercase sm:text-4xl xl:max-w-2xl xl:text-6xl"
        >
          Creo que te has perdido
        </h1>
        <h3 class="text-center text-xl text-white uppercase md:text-2xl">Página no encontrada</h3>
        <p class="text-tiny sm:text-small text-foreground-600 max-w-xs text-center font-light sm:max-w-sm">
          tu búsqueda se ha aventurado más allá del universo conocido
        </p>
        <Button
          variant="ghost"
          radius="sm"
          as={Link}
          href="/"
          className="text-small before:rounded-small border-none bg-linear-to-r from-blue-500 to-purple-500 text-white before:absolute before:inset-px before:bg-black"
        >
          <span class="relative text-current">Regresar a casa</span>
        </Button>
      </div>
      <div class="relative flex items-center justify-center">
        <div class="absolute h-72 w-full max-w-2xl bg-linear-to-r from-blue-500 to-purple-500 blur-3xl"></div>
        <Sprite class="z-10 size-[500px] mask-b-from-30% mask-b-to-70% saturate-150 xl:size-[600px]" />
      </div>
    </div>
  </section>
</Layout>
