---
import Layout from "@/layouts/Layout.astro"
import MovieHomePreview from "@/components/astro/MovieHomePreview.astro"
import MoviesDataBase from "@/components/astro/MoviesDataBase.astro"
import BoxSearch from "@/components/react/BoxSearch"
import BoxMain from "@/components/react/BoxMain"
import SearchMovieAndSeries from "@/components/astro/SearchMovieAndSeries.astro";
---

<Layout title="Cripop | Un espacio donde puedes ver lo que te gusta">
	<div class="relative w-full h-full flex flex-col">
			<BoxMain client:load>
				<div class="relative w-full h-full overflow-hidden">
					<MovieHomePreview/>
				</div>
				<main class="relative">
					<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black"></div>
					<div class="relative h-52 flex items-center px-10">
						<h2 class="text-white font-Libre_Franklin text-3xl font-semibold uppercase">Disfruta de tus peliculas y series favoritas</h2>
					</div>
					<MoviesDataBase/>
				</main>
			</BoxMain>
		<BoxSearch client:idle>
			<SearchMovieAndSeries/>
		</BoxSearch>
		<!-- <footer class="">footer</footer> -->
	</div>
</Layout>
