---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/react/Header';
import MovieHomePreview from '@/components/astro/MovieHomePreview.astro';
import MoviesDataBase from '@/components/astro/MoviesDataBase.astro';
---

<Layout title="Cripop | Un espacio donde puedes ver lo que te gusta">
	<div class="relative w-full h-full flex flex-col">
		<div class="relative w-full h-full overflow-hidden">
			<MovieHomePreview/>
		</div>
		<main class="relative">
			<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black"></div>
			<div class="relative h-52 flex items-center px-10">
				<h2 class="text-white font-Libre_Franklin text-3xl font-semibold uppercase">Disfruta de tus peliculas y series favoritas</h2>
			</div>
			<MoviesDataBase/>
		</main>
		<!-- <footer class="">footer</footer> -->
	</div>
</Layout>
