---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/astro/Header.astro';
import Movies from '@/components/astro/Movies.astro';
---

<Layout title="Crisop | Un espacio donde puedes ver lo que te gusta">
	<div id="movies" class="relative h-screen flex flex-col xl:grid xl:grid-cols-[730px_1fr] xl:grid-rows-[100px_1fr_auto] max-[1536px]:xl:grid-cols-[580px_1fr]">
		<header class="xl:[grid-area:header] relative w-full h-24  xl:h-full flex justify-between items-center px-9">
			<Header/>
		</header>
		<aside class="relative flex-grow xl:[grid-area:slider] bg-yellow-200">aside</aside>
		<main class="xl:[grid-area:main]">
			<Movies/>
		</main>
		<footer class="xl:[grid-area:footer]">footer</footer>
	</div>
</Layout>


<style>


#movies{
		/* // display: grid;
		// grid-template-columns: 730px 1fr;
		// grid-template-rows: 100px 1fr auto; */
		grid-template-areas: 
			"header header"
			"slider main"
			"footer main"
		;
	}


</style>